/* Dark Theme Support */
body.dark-mode {
  background-color: #000;
  color: var(--text-dark);
}

body.dark-mode .quote-card {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

body.dark-mode #theme-toggle {
  color: #f5f5f5;
}

body:not(.dark-mode) .actions button:hover {
  background-color: #ddd;
}

body.dark-mode .actions button:hover {
  background-color: #333;
  color: #fff;
}

/* Dark mode adjustments */
body.dark-mode .social-icons a {
  color: var(--text-dark);
}

body.dark-mode #translate-toggle,
body.dark-mode #theme-toggle {
  color: var(--text-dark);
}
